{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": ["error", "never"]
  },
  "env": {
    "jest": true
}
}
