.block {
  float: left;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.block:hover {
  width: 198px;
  height: 198px;
  border: solid 1px #666;
}

.nav {
  display: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}


.block:hover .nav {
  display: block;
}
