input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* itemCarousel {
  margin-left:
} */
.carousel-inner {
  margin: 0 auto;
}

.item {
}

.itemInner {
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
#itemCarousel {
  min-height: 200px;
}
