.backgroundImageRadio .backgroundBlock  {
    width: 100px;
    height: 100px;
}

.backgroundImageRadio .checked {
    border: solid 5px #333;
}

.backgroundImageRadio {
  margin: 5px;
}

.backgroundImageRadio input {
  display: none;
}
