body {
  background-color: #fdf9f3;

}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;

}

.App-logo {
  height: 200px;
}
.App-logo:hover {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  /* background-color: #222; */
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
